@model IEnumerable<TeamServiceModel>

<div class="row justify-content-center">

    @foreach (var team in Model)
    {
<a asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id" asp-route-information="@team.GetInformation()" style="text-decoration:none; color:black;">
    <div class="row m-2" style="background: linear-gradient(45deg,#1ea8c1, #952c07); ">
        <div class="card" style="width: 18rem; height:22rem">
            <div class="text-center" style="height:85%">
                <img class="card-img-top mw-50 mt-3" src="@team.LogoURL" alt="[@team.TeamTagName] @team.TeamFullName" style="width:auto; height:70%;">
            </div>
            <div class="card-body align-text-bottom text-center" style="height:15%">
                <p class="card-text "><b>[@team.TeamTagName]</b> @team.TeamFullName</p>
            </div>
        </div>
    </div>
</a>}

</div>