@model IEnumerable<ArticleServiceModel>

<div>
    @foreach(var article in Model)
    {
    <a asp-controller="Articles" asp-action="Details" asp-route-Id="@article.Id" asp-route-information="@article.GetArticleInformation()" style="text-decoration:none; color:black;">
        <div class="row border m-2" style="width:60rem; height:13rem;">
            <span class="col-4">
                <div class="text-center align-content-between " style="height:12rem; width:auto;">
                    <img src="@article.Image" style="max-height:11rem; max-width:12rem; vertical-align:bottom;" class="rounded card-img-top m-3" alt="@article.Title">
                </div>
            </span>
            <span class="mt-3 col-8" style="vertical-align:central;">
                <h5 class="card-title">@article.Title</h5>
                <p class="card-text">@article.Description</p>
            </span>
        </div>
    </a>
    }
</div>